<section class="inner-intro about-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
    </div>
  </div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>About</span> Nava Nalanda</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 pb-xs-30">
        <% if @about_us.present? %>
          <div class="text-content"><%= raw @about_us.description %></div>
        <% else %>
          <div class="text-content">
            <p style="text-align:justify">
              <strong style="color: #9b0c23;"><b>Nava Nalanda</b></strong>&nbsp;, aiming to be a centre of ideal education for boys and girls, launched upon its career on the 1st day of February, 1967 at a rented building in the premises No. 25, Southern Avenue, Kolkata, on the initiative of a group of enthusiastic organisers. Its roll strength on the opening day recorded 24 students and 9 teachers, including the Headmistress. The students were unevenly distributed among a limited range of classes, from Nursery – I (age group : 3+) to Class – V (age group : 9+). The financial resources were restricted within the personal funds of the organisers, unaided by any external sources — government or other. These limited resources, however, did not prevent the organisers from being ambitious enough to name their project after our richest national heritage in the domain of education.<br>

              <h3 style="color: #9b0c23; text-align: center;"><b>Academic Attainments</b></h3>
              Growing popularity, gained by virtue of tireless efforts of a band of devoted teachers, enabled the institution to add regularly to its roll strength, and thus, to proceed with steady expansion, till recognition of the West Bengal Board of Secondary Education was obtained in 1973 and the first batch of regular students appeared for the Board’s School Final Examination in 1974. Increasing experience, coupled with sincere efforts, enabled the school to jump mediocrity in 1980, when one of its students, AMITESH MAITY, ranked 4th in the Madhyamik Examination. He started to be followed by more rank-holders at regular interval, such as,

              <h3 style="color: #9b0c23; text-align: center;"><b>Extra-Academic Involvements</b></h3>
              The teaching method of NAVA NALANDA is characterised by a balanced combination of textual knowledge and off-the-text experience, so as to shape into complete education. This aim is sought to be achieved by, what is known as “extra-curricular activities”, though it virtually forms an integral part of NAVA NALANDA’s curriculum. Textual study is supplemented by extra-curricular activities of versatile nature, being aimed at a complete development of juvenile faculties.  Annual educational exhibitions, covering a wide range in the science and humanities streams, enrich the students’ knowledge.  Annual Teacher’s Day and Independence Day/Republic Day celebrations strengthen their organizational ability.  Wall Magazines and the annual School Magazines, ‘The Heritage’ and ‘The Legacy’, ventilate juvenile thoughts.  Intra-school contests on debate, elocution, quiz, music, recitation, drawing, story-writing and script-writing, combinedly known as ‘Nalandasree Competition’, enable the children to earn laurels. Prizes from inter-school competitions also crown the dedicated efforts of the students.  Musical and dramatic programmes on the public stages of Rabindra Sadan and Nazrul Mancha, as well as on the Doordarshan screen, flower them with plaudits from the audience, the viewers and the press.  Their interest in games and sports is testified by commendable team performances in inter-school cricket, football, table tennis, swimming, rowing, chess and many other sports.  Special mention may be made about  some outstanding individual feats of students/ex-students in the Ranji Trophy Cricket and Inter-national Table Tennis Championship.  An invitation tour to Bangladesh by the Nava Nalanda cricket team and their friendly matches with a number of schools and junior cricket clubs of that country were indeed some memorable events. The Nava Nalanda Interact Club, established in 1994, has excelled in social welfare service. The club has played a prominent role in the promotion of international friendship during their Bangladesh trip in 1994.  Service to the suffering humanity drew the Nava Nalanda children close to Mother Teresa, whose graceful presence in the Silver Jubilee Celebrations of the school programme on February 1st, 1993 is one of the memorable events in the history of the school.

              <h3 style="color: #9b0c23; text-align: center;"><b>The ‘House’ activities These</b></h3>
              These consist of healthy rivalry among the three ‘Houses’ — Odantapuri, Taxila and Vikramshila – and House Captains and Vice-captains are selected by school. The teachers’ day celebration on 5th September. It stand as a symbol of mutual love and respect between the teacher and the taught.

              <h3 style="color: #9b0c23; text-align: center;"><b>The Independence Day & Republic Day celebration</b></h3>
              These are connected with some memorable discourses on our freedom struggle, national integration and related subjects by the late acting Governor Dipnarayan Sinha, eminent educationists, such as, the late Chinmohan Sehanabish, Anila Debi and Nemaisadhan Bose, Sri Ramaranjan Mukherjee, Pabitra Kumar Sarkar and Tirthankar Chakraborty, distinguished literateurs and journalists like the late Pramathanath Bishi and Santosh Kumar Ghosh, Sri Amitava Chowdhury and Sri Gour Kishore Ghosh, and last, but not the least, the legendary Ganesh Ghosh, whose absorbing recapitulation of the Chittagong Armoury Raid created a spell on the audience on August 15, 1974.

              <h3 style="color: #9b0c23; text-align: center;"><b>The Heritage & The Legacy</b></h3>
              These are the annual publications for and by the seniors and the kids respectively, which are loaded with contributions from varying age groups, ventilating their thoughts and feelings.

              <h3 style="color: #9b0c23; text-align: center;"><b>Games & Sports</b></h3>
              Our annual Athletic Meets are participated by hundreds in the presence of sports personalities of national repute, such as, Sri Chuni Goswami, Sri Gurbux Sing, Sri Prasanta Banerjee and others as the Chief Guest. Commendable performances have been recorded in inter-school cricket, footfall, table tennis, swimming and rowing competitions. Our under – 19 cricket team, visiting Bangladesh on an invitation tour in , returned with pleasant memories. Our inter-class mini-football for the primary department GEETA DASGUPTA MEMORIAL FOOTBALL TOURNAMENT,NALANDA CUP 5-A-SIDE FOOTBALLand Nalanda Cup Cricket Tournament for the Secondary and Higher Secondary departments figure among our more popular winter sports items. Also we have the All Girls’ Badminton Tournament to encourage sports activities for our girls. With all this background, NAVA NALANDA take pride in having produced the ex-captain of Bengal Cricket team, RAJA VENKAT, and the thrice national table tennis champion, POULAMI GHATAK. The School Cricket team has been the Champion of U-15 Mayors Cup Cricket tournament for the last 3 years and the winners of Duttu Phadkar Trophy for the All-Bengal-Championship.

              <h3 style="color: #9b0c23; text-align: center;"><b>Excursions</b></h3>
              Temporary relief from class room monotony is provided by periodical outings and picnics on the rarely – found greeneries in and around Kolkata, or educational visits to the museum, the planetarium, the meteorological office, the press, and so on. These are often supplemented by week-long trips to far-away sites of Santiniketan – Bakreswar – Masanjore (1975), the antiquities of Rajgir – Nalanda – Bodh Gaya (1977 & 1983), the historical relics of Varanasi – Sarnath – Chunar (1979), the artistic and sculptural excellence of Ajanta – Ellora (1981), the golden triangle of Delhi – Agra – Jaipur (1985) and the picturesque Vizag – Araku Valley (2004),Agra- Jaipur- Chittore (2006), Agra – Delhi (2008), Benaras – Lucknow (2010), Vizag (2012), Hyderabad (2014),    Santiniketan (2016),  Aurangabad – Ajanta Ellora (2017), Hyderabad (2019).

              <h3 style="color: #9b0c23; text-align: center;"><b>Social Service</b></h3>
              The cause of service to the community has always brought our boys and girls to the forefront, collecting enormous amounts for the Red Cross, or some Ramkrishna Mission village reconstruction project, or for the victims of Orissa flood, Gujarat earthquake, the Kargil war, the Tsunami, or, for one of their own school-mates, whose fight with death on the hospital bed is costing his parent’s fortune. It was indeed a life-time’s experience to have Mother Teresa visiting NAVA NALANDA on the 1st February, 1993 and personally acknowledging the truck-loads of Christmas gifts sent every year from the school to the orphans under the Mother’s care.A special social service progarmme was organized on 21st August, 2007, with huge donations from the students and teachers being given to 1. Missionaries of Charity, 2.Voice of the world, 3.Red Cross Society, 4.Bharat Sevasram, 5.Thakurpukur cancer institute.

              <h3 style="color: #9b0c23; text-align: center;"><b>Inter-School Nalandasree Competition</b></h3>
              The winter ushers in the long-awaited Nalandasree intra-school contest on varied items, such as, Sit-and-draw, Story/Script Writing, Recitation, Vocal Music, Dance, Solo Acting, One-Act Play, Quiz, Antakshari, Debate, Elocution and so on in the midst of overflowing enthusiasm. Our school has completed 50 years of its existence on FEBRUARY 1ST, 2017. <br/> This happy occasion is being celebrated by us with a series of educational, cultural & sports activities, stretched throughout the year. Some of these activities have been planned to include schools in our neighbourhood, aiming at fostering a feeling of togetherness and friendship among institutions functioning with a common purpose and aim.

              <h3 style="color: #9b0c23; text-align: center;"><b>Cultural activity</b></h3>
              This has always been a part and parcel of NAVA NALANDA. The ‘Sharadotsav’ in September-October for the seniors features dance, music and dramatic items, combined with literary seminars, while the pre-winter vacation programme for the juniors invariably centre around the arrival of Santa Claus, followed by the chanting of Nursery rhymes and ending with Christmas Party. These activities have frequently reached the public stage and the television, with such productions as Abanindranath Tagore’s KHIRER PUTUL, Rabindranath’s NATIR PUJA, TAASHER DESH, KALMRIGAYA, BALMIKI PRATIVA, BHANUSINGHER PADABALI, PARIR PARICHAY, SUORANIR SAADH and a feature on the birth of Christ, entitled ABIRBHAV, based on Achintya Kumar Sengupta’s work. Added to this, were the classical stage presentations of ballets based on Michael Madhusudhan Dutt’s MEGHNADBADH KAVYA, the great epic MAHABHARATA and Abanindranath Tagore’s RAJKAHINI, in which the NAVA NALANDA children joined the professionals to add to the quality of the productions.

              <h3 style="color: #9b0c23; text-align: center;"><b>Nalanda Ratna</b></h3>
              A special award has been instituted to felicitate a student who excels either in academics or in any other discipline during his/her tenure with the school. <strong>Poulomi Ghatak</strong> (1999) in Table Tennis was the first recipient of this award followed by <strong>Tamoghna Biswas</strong> (2009) for academics, <strong>Aneek Dhar</strong> (2009) for singing, <strong>Subham De</strong> (2011), <strong>Prithwish Mukherjee</strong> (2011), <strong>Navojit Chatterjee</strong> (2011), <strong>Oendrila Bhattacharyya</strong> (2013), <strong>Sumit Kumar Kar</strong> (2013), <strong>Aurghya Maiti</strong> (2014) and <strong>Aritra Paul</strong> (2014) for academics, <strong>Rupkatha Chand</strong> (2017) from Santiniketan and <strong>Hrit Mukherjee</strong> (2017) for academics, <strong>Sagnik Talukdar</strong> (2018), <strong>Tirtha Sankha Bachhar</strong> (2018) and <strong>Rounak Saha</strong> (2018) from Santiniketan for academics.

              <h3 style="color: #9b0c23; text-align: center;"><b>Nava Nalanda Mela</b></h3>
              An air of festivity marks the Nava Nalanda Mela, a bi-annual festival, starting from 1993, being accommodated on the boulevard in front of the main building at 25 Southern Avenue. It presents an array of art and craft products by the students, a wide variety of village handicrafts from the sources of their origin, forgotten delicacies from the kitchens of the teachers and cultural programmes by the “Bauls’ from Birbhum, the ‘Santals’ from Chotanagpur, the ‘Chhou” group from Purulia, from the Ganjam district of orrissa, the ‘sankhyavadya’ of puri, the ‘animal mask’ dance and the ‘Gotipua’ dance and of course, colourful items by the NAVA NALANDA children themselves.

              <h3 style="color: #9b0c23; text-align: center;"><b>Rabindrasmaran</b></h3>
              NAVA NALANDA has its firm footing on oriental culture, with the thoughts and ideals of Gurudev Rabindranath Tagore as its guiding star. In the fitness of events, therefore, the celebration of Rabindra Jayanti became one of the main features of the school activity, almost from the inception of the school, being participated by hundreds of children and joined by maestros – Sm. Suchitra Mitra, Sri Dwijen Mukherjee and the late Kanika Banerjee, Hemanta Mukherjee, Debabrata Biswas, Chinmoy Chatterjee, Ashoktaru Banerjee and Sagar Sen. Since 1996 this programme has been shifted to the Southern Avenue boulevard, so as to accommodate thousands of school children, their guardians and the local residents. In fact, NAVA NALANDA’s ‘Rabindrasmaran’ is now hailed as one of the main attraction of the city on the 25th Baishak.

              <h3 style="color: #9b0c23; text-align: center;"><b>Nava Nalanda (Santiniketan)</b></h3>
              Being brought into existence on the 1st July, 1991, the Santiniketan unit of NAVA NALANDA represents the institution’s homage to Gurudev Rabindranath Tagore. Increasing confidence of the guardians from Bolpur, Santiniketan, Surul, Ahmedpur, Bhedia and adjacent localities has raised the roll strength to the vicinity of 500, necessitating the housing of the Nursery, Primary and Secondary departments in separate rented buildings. Meanwhile, approximately 6½ bighas of land were acquired in Andrews Palli, the foundation of the school buildings was laid by Sri Somnath Chatterjee, speaker of the Lok Sabha, on the 9th March, 1996 and a majestic building with an attractive annexe for the Nursery section and a large play ground with complete infra structure now accommodates the Nursery, Primary, Secondary & Higher Secondary departments.

              <h3 style="color: #9b0c23; text-align: center;"><b>Medical Unit</b></h3>
              We have come up with a unique medical unit (First of its kind in the city) to render medical attention to students and staff in case of emergency during school hours. A sick bed, oxygen cylinder and a well-stocked first aid box have been provided at all our units. A mobile medical van with a trained nurse do regular rounds of all our departments in the city and in case of extreme emergency cases, transport the patient to the nearest hospital/nursing home.

              <h3 style="color: #9b0c23; text-align: center;"><b>Naba Robi Kiron</b></h3>
              The rich cultural heritage embedded in the minds of students and staff of the school has found its objective with the formation of Naba Robi Kiron. Its an initiative to encourage the young talents, specially in the field of Rabindrasangeet. In a span of only two years it has produced nearly 200 music CDs and more than 50 odd programmes.
            </p>
          </div>
        <% end %>    
      </div>
      <div class="col-sm-3">
        <%= render 'layouts/side_bar' %>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  .about-img{
    background: url("<%= asset_path('about1.jpg') %>") 0 40% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>