<section class="inner-intro bg-img light-color overlay-before parallax-background">
  <div class="container">
    <div class="row title">
      <!--<h1 data-title="About"><span>Chairman's Message</span></h1>-->
    </div>
  </div>
</section>
<div id="about-section" class="padding pt-xs-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-box pb-30">
          <h2><span>Principal's</span> Message</h2>
        </div>
      </div>principal_message
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

        <% if @principal_message.present? %>
          <p><%= raw @principal_message.description %></p>
        <% else %>
          <p class="inner-p">
           <b>Nava Nalanda</b> steps into her forty seventh year. The young fledgling that had first started spreading its wings in the year 1967 is now flying high, having completed forty six years of academic excellence, cultural celebrations and sporting activities. Under the aegis and expert tutelage of Late Arya Mitra and Late Bharati Mitra, Nava Nalanda has been able to overcome obstacles and hurdles and the rest, as we all know is history. The abode NN’s prayer is for the young in spirit. The school has its foundations deep in tradition – as its name denotes; but its gardens are verdant with the foliage of springtime.
          </p>
          <p class="inner-p">
            The teaching method of Nava Nalanda, evolving out of prolonged deliberations and experience, is characterized by friendly relationship between the teacher and the taught and attempts to solve the problem in collaboration with parents. Nava Nalanda believes in supplementing textual study with extra-textual activities of versatile nature, being aimed at complete development of juvenile faculties.
          </p>
          <p class="inner-p">
            We accepted the best in our heritage even as we stretch history. We work in joyous spirit of cheerful response to change, and of the acceptance of life in its fullness – we constantly   seek the roses amidst the thorns and the pearls latent in oysters. Our thoughts on education are based on hapy notes, tinged with colours of festivals of different varieties.
          </p>
          <p class="inner-p">
            We live in a country that has several millions of people still living below the poverty line – this is despite the significant progress that has been achieved in recent years. Those of you who are privileged to pass out from this school must understand how fortunate you are. Being fortunate, of course brings with it certain debts that you have to repay to the society. You must therefore never forget to pay back what you have gained here in course of your tenure as a student of Nava Nalanda.
          </p>
          <p class="inner-p">
            What truly makes this school special is the friendship that develops here among the students coming from different backgrounds – cultural, religious and economic. As you enter the mainstream of life, moving out from school, college and family, never ever forget the fundamental values and percepts that you have inherited from this school.
          </p>
          <p class="inner-p">
            On behalf of all the members of “Team Nava Nalanda”, I welcome all the new entrants to our family.
          </p>
          <p class="inner-p">
            Being complacent is not the trait of a “Nalanda” – always challenging the status quo is a typical characteristic, which every Nalandite possesses. We believe that our students will shine with the brightness of thousand suns, bloom like the lotuses with thousands petals and will possess a pleasing personality with a cultured mind.          </p>
        <% end %>
      </div>
      <div class="col-sm-3">
        <%= render 'layouts/side_bar' %>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .parallax-background{
    background: url("<%= asset_path('about1.jpg') %>") 0 40% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
</style>
