<footer>
  <div class="top_footer_info__block ptb-20">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="single_info__block">
            <i class="fa fa-envelope-o"></i>
            <h4>info@navanalanda.org.in </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main_footer__block pb-0 pt-60">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="footer_box__block">
            <h4>Useful links</h4>
            <%= render 'layouts/side_bar' %>
          </div>
        </div>
        <div class="col-md-9">
          <div>
            <h4>How to Reach Us</h4>
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7371.460485682772!2d88.34447997877604!3d22.514302089261122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02712b16ea7fed%3A0x9f1144e27da5dc94!2sNava%20Nalanda%20Group%20of%20Schools!5e0!3m2!1sen!2sin!4v1713956796582!5m2!1sen!2sin" title=" Nava Nalanda, ETWAh, UP , India" aria-label="Nava Nalanda, ETWAh, UP , India" width="95%" height="400" frameborder="2px" style="border:2px solid #dadada" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="copyriight_block ptb-20 mt-20">
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align:center; font-size:12px">© COPYRIGHT <%= Date.today.year %> Nava Nalanda | ALL RIGHTS RESERVED | DEVELOPED BY <a href="https://www.linkedin.com/in/vaibhav-dwivedi-8a7287185" target="_blank">VAIBHAV DWIVEDI</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<style type="text/css">
  .main_footer__block{
    background-image: url(<%= asset_path 'footer_bg.jpg' %>);
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    color: #fff;
  }
  .footer_box__block li::after{
    top: 15px;
  }
</style>